#index2 {
  #menu3 {
    $width:140px;
    $animate_duration: 0.5s;
    $active_bg_color: $primary;
    $active_font_color: white;
    background: lightblue;


    &.wrapper {
      p {
        margin: 0;
      }
      //position: relative;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    } // .wrapper

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      // overflow: hidden;
      margin: 0; padding: 0;
      width:100%;

      li {
        list-style: none;
        width: $width;
        flex: 1 1 auto; // to fill the flex parent's space

        background: steelblue;
        border: 1px blue solid;
        &.active {
          //background:#f7f7f7;
          transition: $animate_duration;
          a {
            color: #262626;
            color: $active_font_color;
          } //a
        } //.active

        a {
          outline: 0; //remove dotted line
          display: block;
          padding: 20px;
          text-align: center;
          transition: $animate_duration;
          text-decoration: none;
          color: inherit;
          font-weight: 800;
        } //a
      } //li


      @for $i from 1 through 5 {
        .active:nth-child(#{$i}) ~ .slide {
          left: $width * ($i - 1);
          opacity: 1;
        }
      }


    } // ul

    .slide {
      position: absolute;
      width: $width;
      height: 100%;
      top: 0;
      left: 0;
      background: $active_bg_color;
      background-color: $active_bg_color;
      z-index: -1;
      transition: $animate_duration;
      opacity: 0;
    } // .slide
  } //#menu3
}
