node_modules
.sass-cache
.tmp

# hide google recaptcha's keys
**/constant.php

# need to hide all "constant.php". there dir are for testing captcha
contact_captcha/
contact_captcha_4/

# diagrams
**/*.ai

# debug files
phpinfo.php
**/log.txt